/* Large Button */

.large {
    width: 100%;
    background-color: var(--primary-light);
    border: none;
    color: var(--text-mid);
    padding: 10px 16px;
    border-radius: var(--border-radius);
}

.large:hover {
    background-color: var(--primary);
    color: var(--primary-light);
}

.large:active {
    background-color: var(--primary);
    color: var(--primary-light);
}


/* Small Button */

.small {
    width: 100%;
    background-color: var(--primary);
    border: none;
    color: var(--primary-light);
    padding: 2px 8px;
    border-radius: var(--border-radius);
}

.small:hover {
    background-color: var(--primary-light);
    color: var(--text-mid);
}

/* Link Button */

.link {
    color: var(--text-low);
    border: none;
    background-color: transparent;
}

.link:hover {
    color: var(--text-mid);
}

.link:active {
    color: var(--text-mid);
}