/* Large Button */

.largeBtn {
    width: 100%;
    background-color: var(--primary-light);
    border: none;
    color: var(--text-mid);
    padding: 10px 16px;
    border-radius: var(--border-radius);
}

.largeBtn:hover {
    background-color: var(--primary);
    color: var(--primary-light);
}

.largeBtn:active {
    background-color: var(--primary);
    color: var(--primary-light);
}


/* Small Button */

.smallBtn {
    width: 100%;
    background-color: var(--primary);
    border: none;
    color: var(--primary-light);
    padding: 2px 8px;
    border-radius: var(--border-radius);
}

.smallBtn:hover {
    background-color: var(--primary-light);
    color: var(--text-mid);
}

/* Link Button */

.linkBtn {
    color: var(--text-low);
    border: none;
    background-color: transparent;
}

.linkBtn:hover {
    color: var(--text-mid);
}

.linkBtn:active {
    color: var(--text-mid);
}