.main {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.return_arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}